</div>

	<footer class="grid-12-xs last">

		<!-- CONTACTO -->
		<div class="text-center cont90">
			<h3 class="bigtitle">CONTACT US</h3>
			<p class="marginbottom">Interested in our services? Leave us your information and on of our associates will contact you shortly.</p>
			<form action="/contacto/enviar-mensaje" method="post" class="form">
				<div class="grid-6-m">
					<input type="text" name="nombre" class="futura-bold" placeholder="First Name">
					<input type="email" name="correo" class="futura-bold" placeholder="Email">
					<input type="text" name="cargo" class="futura-bold" placeholder="Position">
				</div>
				<div class="grid-6-m last">
					<input type="text" name="apellidos" class="futura-bold" placeholder="Last Name">
					<input type="text" name="company" class="futura-bold" placeholder="Company">
					<div class="grid-12-xs last">
						<label class="select" class="futura-bold">
						<!-- 	<i class="icon-arrow-down"></i> -->
							<select name="servicios" class="futura-bold">
								<option value="MERGERS &amp; ACQUISITONS">MERGERS &amp; ACQUISITONS</option>
								<option value="PROJECT STRUCTURING">PROJECT STRUCTURING</option>
								<option value="FUNDING AND DEBT RESTRUCTURING">FUNDING AND DEBT RESTRUCTURING </option>
								<option value="IPO (INITIAL PUBLIC OFFERING)">IPO (INITIAL PUBLIC OFFERING) </option>
								<option value="Otro">Other</option>
							</select>
						</label>
					</div>
				</div>
				<div class="grid-12-xs last">
					<textarea name="mensaje" rows="6" class="futura-bold" placeholder="Message"></textarea>
					<input type="submit" class="futura-bold" value="SEND MESSAGE">
				</div>
			</form>
		</div>

		<!-- GOOGLE MAP -->
		<div class="grid-12-xs last">
			<div id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>Cra. 7 N. 77-07 OF.1003. Bogotá, Colombia</address> 
			</div>
		</div>

		<div class="grid-12-xs last">
			<div class="cont90 ultimasnoticias text-center">
				<h1>Latest News</h1>
				{% for item in 0..(twitter|length)-1 %}				 
					<div class="grid-3-m {% if item % 4 == 3 %} last {% endif %}">
						<p>{{twitter[item].post_title}}</p>
						{{twitter[item].post_content|raw}}
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- FOOOTER 2.0 -->
		<div class="grid-12-xs footerabove last">
			<div class="cont90">
				<div class="grid-3-m">
					<a href="/" id="logofooter"><img src="/public/img/logo.png" alt="Logo Silk Banca"></a>
				</div>
				<div class="grid-6-m footerlinks">
					<div class="grid-12-xs last">
						<h4>IMPORTANT LINKS</h4>
						<div class="grid-6-xs">
							<a href="/">HOME</a>
							<a href="/inversionistas">INVESTORS</a>
							<a href="/empresas">COMPANIES</a>
							<a href="/responsabilidad-empresarial">SOCIAL RESPONSABILITY</a>
						</div>
						<div class="grid-6-xs last">
							<a href="/equipo">TEAM</a>
							<a href="/noticias">BLOG</a>
							<a href="/contacto">CONTACT</a>
						</div>
					</div>
				</div>
				<div class="grid-3-m last">
					<h4>ALLIES</h4>
					<div class="grid-5-xs">
						<a href="http://www.silkandcompany.com/" target="_blank"><img src="/public/img/silkco.png" alt="Logo Silk &amp; Co"></a>
					</div>
					<div class="grid-1-xs"></div>
					<div class="grid-5-xs last">
						<a href="http://silkhabitat.com"><img src="/public/img/habitat.png" alt="Logo Silk Habitat"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER 2.1 -->
		<div class="grid-12-xs last footerbelow">
			<div class="cont90">
				<div class="grid-10-m last">
					<a href="/">HOME</a>
					<a href="/inversionistas">INVESTORS</a>
					<a href="/empresas">COMPANIES</a>
					<a href="/responsabilidad-empresarial">SOCIAL RESPONSABILITY</a>
					<a href="/blog">BLOG</a>
					<a href="/equipo">TEAM</a>
				</div>
				<div class="grid-2-m last text-right">
					<a href="/idioma/en">EN</a>
					<span>|</span>
					<a href="/idioma/es">ES</a>
				</div>
				<div class="grid-12-xs last text-center">
					<hr>
					<p>Silk 2016 Copyright. All rights reserved.</p>
					<p>Created by <a href="http://estudiocodesign.com" target="_blank">Estudio Codesign.</a></p>
				</div>
			</div>
		</div>


	</footer>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7AlnVIA1B_wmQE4No9BHwtv90QfSqPqg"></script>
<script type="text/javascript" src="/public/js/script.min.js"></script>
</body>
</html>