</div>

	<footer class="grid-12-xs last">

		<!-- CONTACTO -->
		<div class="text-center cont90">
			<h3 class="bigtitle">CONTÁCTANOS</h3>
			<p class="marginbottom">¿Interesado en nuestros servicios? Déjenos sus datos y un asesor se pondrá en contacto con usted muy pronto.</p>
			<form action="/contacto/enviar-mensaje" method="post" class="form">
				<div class="grid-6-m">
					<input type="text" name="nombre" class="futura-bold" placeholder="Nombres">
					<input type="email" name="correo" class="futura-bold" placeholder="Correo">
					<input type="text" name="cargo" class="futura-bold" placeholder="Cargo">
				</div>
				<div class="grid-6-m last">
					<input type="text" name="apellidos" class="futura-bold" placeholder="Apellidos">
					<input type="text" name="company" class="futura-bold" placeholder="Compañía">
					<div class="grid-12-xs last">
						<label class="select" class="futura-bold">
						<!-- 	<i class="icon-arrow-down"></i> -->
							<select name="servicios" class="futura-bold">
								<option value="FUSIONES Y ADQUISICIONES">FUSIONES Y ADQUISICIONES </option>
								<option value="ESTRUCTURACIÓN DE PROYECTOS">ESTRUCTURACIÓN DE PROYECTOS </option>
								<option value="FINANCIACIÓN Y REESTRUCTURACIÓN DE DEUDA">FINANCIACIÓN Y REESTRUCTURACIÓN DE DEUDA </option>
								<option value="IPO - EMISIÓN DE ACCIONES">IPO - EMISIÓN DE ACCIONES </option>
								<option value="FONDO DE CAPITAL Y AGROINDUSTRIAL">FONDO DE CAPITAL Y AGROINDUSTRIAL </option>
								<option value="OTRO">OTRO</option>
							</select>
						</label>
					</div>
				</div>
				<div class="grid-12-xs last">
					<textarea name="mensaje" rows="6" class="futura-bold" placeholder="Mensaje"></textarea>
					<input type="submit" class="futura-bold" value="ENVIAR MENSAJE">
				</div>
			</form>
		</div>

		<!-- GOOGLE MAP -->
		<div class="grid-12-xs last">
			<div id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>Cra. 7 N. 77-07 OF.1003. Bogotá, Colombia</address> 
			</div>
		</div>

		<div class="grid-12-xs last">
			<div class="cont90 ultimasnoticias text-center">
				<h1>Últimas Noticias</h1>
				{% for item in 0..(twitter|length)-1 %}				 
					<div class="grid-3-m {% if item % 4 == 3 %} last {% endif %}">
						<p>{{twitter[item].post_title}}</p>
						{{twitter[item].post_content|raw}}
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- FOOOTER 2.0 -->
		<div class="grid-12-xs footerabove last">
			<div class="cont90">
				<div class="grid-3-m">
					<a href="/" id="logofooter"><img src="/public/img/logo.png" alt="Logo Silk Banca"></a>
				</div>
				<div class="grid-6-m footerlinks">
					<h4>LINKS DE INTERÉS</h4>
					<div class="grid-6-m">
						<a href="/">HOME</a>
						<a href="/inversionistas">INVERSIONISTAS</a>
						<a href="/empresas">EMPRESAS</a>
						<a href="/responsabilidad-empresarial">RESPONSABILIDAD</a>
					</div>
					<div class="grid-6-m last">
						<a href="/equipo">EQUIPO</a>
						<a href="/noticias">BLOG</a>
						<a href="/contacto">CONTACTO</a>
					</div>
				</div>
				<div class="grid-3-m last">
					<h4>ALIADOS</h4>
					<div class="grid-5-xs">
						<a href="http://www.silkandcompany.com/" target="_blank"><img src="/public/img/silkco.png" alt="Logo Silk &amp; Co"></a>
					</div>
					<div class="grid-1-xs"></div>
					<div class="grid-5-xs last">
						<a href="http://silkhabitat.com"><img src="/public/img/habitat.png" alt="Logo Silk Habitat"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER 2.1 -->
		<div class="grid-12-xs last footerbelow">
			<div class="cont90">
				<div class="grid-10-m last">
					<a href="/">HOME</a>
					<a href="/inversionistas">INVERSIONISTAS</a>
					<a href="/empresas">EMPRESAS</a>
					<a href="/responsabilidad-empresarial">RESPONSABILIDAD</a>
					<a href="/blog">BLOG</a>
					<a href="/equipo">EQUIPO</a>
				</div>
				<div class="grid-2-m last text-right">
					<a href="/idioma/en">EN</a>
					<span>|</span>
					<a href="/idioma/es">ES</a>
				</div>
				<div class="grid-12-xs last text-center">
					<hr>
					<p>Todos los derechos reservados Silk 2016.</p>
					<p>Creado por <a href="http://estudiocodesign.com" target="_blank">Estudio Codesign.</a></p>
				</div>
			</div>
		</div>


	</footer>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7AlnVIA1B_wmQE4No9BHwtv90QfSqPqg"></script>
<script type="text/javascript" src="/public/js/script.min.js"></script>
</body>
</html>