<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=utf-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="author" content="{{meta_autor}}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msvalidate.01" content=""/>
    <meta name="google-site-verification" content="" />
    <meta name="p:domain_verify" cosntent=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <title>{{ _APP_NAME|capitalize }} | {{ page_name|capitalize }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/icomoon/style.css"> 
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/futura/stylesheet.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
	<link href=”” rel=”publisher” />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        <div class="grid-12-xs last innerheader">
            <div class="grid10 divsmallhead text-center">
                <span class="tooltipsleft"><i class="iconhead icon-phone"></i> <span>+(571) 703-1315</span></span>
                <i class="ihead futura-medium">|</i>
                <span class="tooltipsleft"><i class="iconhead icon-clock2"></i> <span>M-F: 9:00am-6:00pm</span></span>
            </div>
            <div class="grid80 text-center">
                <a href="/" class="itemhead {% if page_name == 'Home' %} sel {% endif %}">HOME</a>
                <a href="/inversionistas" class="itemhead {% if page_name == 'Inversionistas' %} sel {% endif %}">INVESTORS</a>
                <a href="/empresas" class="itemhead {% if page_name == 'Empresas' %} sel {% endif %}">COMPANIES</a>
                <a href="/"><img src="/public/img/logo.png" id="mainlogo" alt="Silk Banca Logo"></a>
                <a href="/responsabilidad-empresarial" class="itemhead {% if page_name == 'Social' %} sel {% endif %}">SOCIAL RESPONSABILITY</a>
                <a href="/blog" class="itemhead {% if page_name == 'Noticias' %} sel {% endif %}">BLOG</a>
                <a href="/equipo" class="itemhead {% if page_name == 'Equipo' %} sel {% endif %}">TEAM</a>
            </div>
            <div class="grid10 divsmallhead text-center">
                <a href="/idioma/es" class="rightupoption rightup {% if lang == 'es' %} rightupchosen {% endif %}">ES</a>
                <i class="rightup ihead2 futura-medium">|</i>
                <a href="/idioma/en" class="rightupoption rightup {% if lang == 'en' %} rightupchosen {% endif %}">EN</a>
            </div>
        </div>
    </header>

    <div id="menumob" class="text-center">
        <span class="icon-menu2" id="iconmenumobile"></span>
        <div class="grid-12-xs last dropdwonmob">
            <a href="/" class="itemmob {% if page_name == 'Home' %} mobsel {% endif %}">HOME</a>
            <a href="/inversionistas" class="itemmob {% if page_name == 'Inversionistas' %} mobsel {% endif %}">INVESTORS</a>
            <a href="/empresas" class="itemmob {% if page_name == 'Empresas' %} mobsel {% endif %}">COMPANIES</a>
            <a href="/responsabilidad-empresarial" class="itemmob {% if page_name == 'Social' %} mobsel {% endif %}">SOCIAL RESPONSABILITY</a>
            <a href="/blog" class="itemmob {% if page_name == 'Noticias' %} mobsel {% endif %}">BLOG</a>
            <a href="/equipo" class="itemmob {% if page_name == 'Equipo' %} mobsel {% endif %}">TEAM</a>
            <a href="/contacto" class="itemmob {% if page_name == 'Contacto' %} mobsel {% endif %}">CONTACT</a>
        </div>
    </div>

    <div class="grid-12-xs last maincontent">