@import 'helpers/all';
@import 'plugins/all';
@import 'base/all';

$blue:#0064ff;
$green:#309624;
$green-shadow:#276d1d;
$gray:#808080;
$blue-shadow:#0051c6;
$gray-dark:#4d4d4d;
$blue-dark:#094989;

h1, h2, h3, h4, h5, h6 {
	color: $gray-dark;
}

.text-blue {
	color: #808080;
	&:hover {
		color:$blue;
	}
}

.backdarker {
	background-color:#f2f2f2;
}

.notsobig {
	font-size:26px;
}

p, li {
	color: #808080;
}

#mainlogo {
	width: 165px;
	height: 100px;
	text-align: center;
	margin:0 15px;
	display: inline-block;
	&:hover {
		opacity:0.7;
	}
}

#mainlogomobile {
	width: 300px;
	height: 190px;
	text-align: center;
	margin: auto;
}

a {
	text-decoration: none;
	display: inline-block;
}

.itemhead {
	color: $gray;
	/*background-color: #000;*/
	margin: 0 12px;
	font-size: 14px;
	&:hover {
		color:$blue;
	}
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
	.sel {
		color: $blue;
	}
	.innerheader {
		border-bottom: 1px solid #dcdcdc;
	}
	.icon-mail4 {
		font-size: 23px;
	}
}

.iconhead {
	font-size: 20px;
	position: relative;
	top: 18px;
	display: inline-block;
	color: $gray;
	margin-top: 20px;
	cursor: pointer;
	&:hover {
		color:$blue;
	}
}

.maincontent {
	margin-top: 76px;
}

.ihead {
	color: $gray;
	font-style: normal;
	display: inline-block;
	position: relative;
	top: 13px;
}

.ihead2 {
	color: $gray;
	font-style: normal;
	display: inline-block;
}

footer {
	/*padding: 50px 0;*/
}

.form {
	input[type="text"],
	input[type="email"],
	textarea {
		border: none;
		width: 100%;
		background-color: #e8e8e8;
		text-indent: 15px;
		font-size: 14px;
		margin-bottom: 20px;
		color: #808080;
	}
	textarea {
		padding-top: 15px;
	}
	input[type="text"],
	input[type="email"] {
		height: 40px;
	}
	input[type="submit"] {
		background-color: $blue;
		border: none;
		color: #fff;
		height: 40px;
		width: 100%;
	}
}

label.select {
	position: relative;
	&:after {
		content: '<>';
		font: 11px "Consolas", monospace;
		position:absolute;
		left: 10px;
		top: 6px;
		color: #808080;
		-webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	}
}
select {
	color: #808080;
	text-transform: capitalize;
	border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    height: 42px;
    background-color: #e8e8e8;
	width: 100%;
	text-indent: 15px;
	font-size: 14px;
	margin-bottom: 25px;
}

.bigtitle {
	font-size: 36px;
}

.marginbottom {
	margin-bottom: 50px;
}

#google-container {
	margin-top: 50px;
  	position: relative;
  	width: 100%;
  	height: 400px;
  	background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
  	#google-container {
    	height: 400px;
  	}
}
@media only screen and (min-width: 1170px) {
  	#google-container {
    	height: 600px;
  	}
}

#cd-google-map {
  	position: relative;
}
#cd-google-map address {
  	position: absolute;
  	width: 100%;
  	bottom: 0;
  	left: 0;
  	padding: 1em 0;
  	background-color: rgba(0, 100, 255, 0.9);
  	color: white;
  	font-size: 13px;
  	font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
  	#cd-google-map address {
	    font-size: 15px;
	    font-size: 0.9375rem;
	    text-align: center;
  	}
}

#cd-zoom-in, #cd-zoom-out {
  	height: 32px;
  	width: 32px;
  	cursor: pointer;
  	margin-left: 10px;
  	background-color: rgba(0, 100, 255, 0.9);
  	background-repeat: no-repeat;
  	background-size: 32px 64px;
  	background-image: url("/public/img/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  	background-color: #0064ff;
}
@media only screen and (min-width: 768px) {
  	#cd-zoom-in, #cd-zoom-out {
    	margin-left: 50px;
  	}
}

#cd-zoom-in {
  	background-position: 50% 0;
  	margin-top: 10px;
  	margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
 	#cd-zoom-in {
    	margin-top: 50px;
  	}
}

#cd-zoom-out {
  	background-position: 50% -32px;
}

.footerabove {
	padding: 35px 0px 50px 0;
	background-color: #e8e8e8;	
	h4 {
		font-size: 18px;
		margin-top: 0;
	}
	img {
		margin-top: 20px;
	}
}

.footerlinks {
	a {
		display: block;
		color: $gray;
		font-size: 14px;
		padding: 8px 0;
		&:hover {
			color:$blue;
		}
	}
}

.footerbelow {
	background-color: #4d4d4d;
	padding: 20px 0;
	a {
		color: #c2c2c2;
		font-size: 14px;
		margin-right: 10px;
		&:hover {
			color:$blue;
		}
	}
	p {
		margin: 0;
	}
}

.formfooter {
	input[type="email"] {
		background:none;
		border: none;
		border-bottom: 2px solid #a9a9a9;
		width: 100%;
		text-indent: 40px;
		height: 40px;
		@include transition(0.5s);
		margin-bottom: 20px;
		&:focus {
			border-bottom: 2px solid $blue;
			outline:none;
		}
	}
	i {
		position: absolute;
		left: 10px;
		color: #808080;
		font-size: 18px;
		top: 10px;
	}
	input[type="submit"] {
		background-color: $blue;
		color: #fff;
		width: 100%;
		border:none;
		padding: 10px 0;
		&:hover {
			background-color:$blue-shadow;
		}
	}
}

.owl-dots {
	text-align: center;	
	padding: 18px 0;
	.active {
		background-color: $blue;
	}
}

.owl-dot {
	background-color: #dcdcdc;
	width: 12px;
	height: 12px;
	@include border-radius(50%);
	margin: 0 5px;
	display: inline-block;
	&:hover {
		background-color:$blue;
		opacity: 0.6;
	}
}

.homeslide {
	.cont50 {
		position: absolute;
		left: 10%;
		top: 130px;
		z-index: 5;
	}
	h1, p {
		color: #fff;
		text-align: justify;
	}
}

.btnbluesmall {
	display: inline-block;
	text-align: center;
	padding: 10px 45px;
	background-color: $blue;
	border: 2px solid $blue;
	color: #fff;
	&:hover {
		background-color:$blue-shadow;
	}
}

.btnblue {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: $blue;
	border: 2px solid $blue;
	color: #fff;
	&:hover {
		background-color:$blue-shadow;
	}
}

.btngreen {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: $green;
	border: 2px solid $green;
	color: #fff;
	&:hover {
		background-color:$green-shadow;
	}
}

.btnbordergray  {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	color: #fff;
	border: 2px solid #fff;
	@include transition(0.4s);
	&:hover {
		background-color:#fff;
		color: $blue;
	}
}

.btnbordergraygreen  {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	color: #fff;
	border: 2px solid #fff;
	@include transition(0.4s);
	&:hover {
		background-color:#fff;
		color: $green;
	}
}

.servicio {
	margin-bottom: 50px;
	i {
		font-size: 65px;
		color: $blue;
		display: inline-block;
		margin-top: 5px;
	}
	a {
		color: #4d4d4d;
		padding: 6px 14px;
		border-bottom: 2px solid $blue;
		border-right: 2px solid #f2f2f2;
		border-top: 2px solid #f2f2f2;
		border-left: 2px solid #f2f2f2;
		@include transition(0.5s);
		&:hover {
			background-color:$blue;
			border-right: 2px solid $blue;
			border-top: 2px solid $blue;
			border-left: 2px solid $blue;
			color: #f2f2f2;
		}
	}
}

.servicioshome {
	padding: 40px 0;
}

.mainhome {
	/*margin-bottom: 30px;*/
}

.nompro {
	color: #fff!important;
	margin-bottom: 0;
}
.sectorpro {	
	margin-top: 0;
	color: #fff!important;
}
.descpro {
	color: #fff!important;
}

.oportunidadgrande {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: middle left;
	.grid40 {
		padding: 50px 0;
		background-color: rgba(0,0,0,0.6);
	}
	h4 {
		margin-top: 0;
	}
	p, h4 {
		font-style: normal;
		color: #fff;
	}
}

.nompro {
	color: #fff!important;
	margin-bottom: 0;
}
.sectorpro {	
	margin-top: 0;
	color: #fff!important;
}

.btnbluesmall {
	background-color: $blue;
	border: 2px solid $blue;
	color: #fff;
	display: inline-block;
	padding: 12px 40px;
	&:hover {
		background-color: $blue-shadow;
	}
}

.title {
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	&:after {
		content: "";
		display: inline-block;
		background-color: $blue;
		position: absolute;
		bottom: -15px;
		left: 0;
		width: 60%;
		height: 4px;
	}
}

.titlegreen {
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	&:after {
		content: "";
		display: inline-block;
		background-color: $green;
		position: absolute;
		bottom: -15px;
		left: 0;
		width: 60%;
		height: 4px;
	}
}

.marginboth {
	margin: 50px 0;
}

.razon {
	margin-bottom: 30px;
	i {
		background-color: $blue;
		color: #fff;
		display: inline-block;
		font-size: 24px;
		padding: 10px;
		@include border-radius(5px);
	}
	h4 {
		margin-top: 0;
		margin-bottom: 0px;
	}
	p {
		margin-top: 10px;
	}
}

.razones {
	margin-top: 30px;
}

.progressdiv {
	margin-bottom: 15px;
	i {
		margin-right: 15px;
		display: inline-block;
	}
}

.progress {
	background-color: #bababa;
	@include border-radius(3px);
	height: 4px;
}

.progressbar {
	background-color: $blue;
	height: 100%;
	@include border-radius(3px);
}
/*
.oportunidad {
	margin: 0;
}*/

.oportunidad {
	margin-bottom: 25px;
}

.progresstitle {
	color: #4d4d4d;
}

.oportunidades {
	margin-top: 50px;
}

.oportunidad {
	padding-top: 150px;
	padding-bottom: 30px;
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: middle top;
}

.mensajeceo {
	h2 {
		margin-top: 70px;
		color: #000;
		font-size:30px;
		margin-bottom: 0;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 30px;
	}
}

.imagetop {
	background-size: 100%;
	background-position:  top left;
	background-repeat: repeat-y;
	h1 {
		color: #fff;
		margin-top: 180px;
	}
}


.investordiv {
	padding-top: 320px;
	padding-bottom: 50px;
	margin-bottom: 25px;
	cursor: pointer;
	h2 {
		color: #fff;
		margin-bottom: 10px;
	}
	i {
		color: #fff;
		display: inline-block;
		font-size: 22px;
	}
	&:hover {
		h2, i {
			color: $blue;
		}
	}
}

.margintop {
	margin-top: 50px;
}

.fotowhy {
	margin-bottom: 20px;
}

.bigtitle {
	margin-top: 10px;
	font-size: 40px;
}

.detallesproyecto {
	background-color: #ededed;
	padding: 50px 0;
}

.headeroportunidad {
	margin-bottom: 40px;
}

.indicadores {
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: middle top;
	margin-bottom: 50px;
	padding: 80px 0;
	h3 {
		color: #fff;
		margin-bottom: 0;
	}
	p {
		color: #fff;
		margin-top: 0;
	}
}

.barleft {
	width: 10px;
	background-color: rgba(0,100,255,0.2);
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.barleftsel {
	width: 10px;
	background-color: $blue;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.nombrebar {
	display: inline-block;
	margin-left: 30px;
	color: #666666;
	padding: 20px 0;
}

.bars {
	&:hover {
		.barleft {
			background-color:$blue;
		}
	}
}

.cuadroinfo {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: $blue;
	padding: 20px 0;
	p {
		color: #fff;
	}
	i {
		color: $blue-dark;
		font-size: 25px;
		position: relative;
		top: 4px;
		display: inline-block;
		margin-right: 8px;
	}
}

.fixed {
    position: fixed;
    top:73px; left:0;
    width: 100%;
    z-index: 150; 
}

.imgtopempresas {
	margin-bottom: 40px;
}

.marginbottom0 {
	margin-bottom: 20px;
}


.persona {
	margin-bottom: 30px;
	h3 {
		margin-bottom: 0;
		&:hover {
			color:$blue;
		}
	}
	p {
		margin-top: 0;
		&:hover {
			color:$blue;
		}
	}
	h3, p, img {
		cursor: pointer;
	}
}

.resumenpersona {
	display: none;
	margin-bottom: 30px;
	background-color: #e8e8e8;
	padding: 30px 0;
	span {
		position: absolute;
		right: -15px;
		font-size: 22px;
		top: 27px;
		color: $blue;
		cursor: pointer;
		&:hover {
			color:$blue-dark;
		}
	}
	a {
		position: absolute;
		right: 15px;
		top: 24px;
		color: $blue;
		font-size: 22px;
		&:hover {
			color:$blue-dark;
		}
	}
	h2 {
		margin-bottom: 0;
	}
	.title {
		margin-top: 0;
	}
	.descri {
		font-size: 14px;
	}
	&:after {
		content: '';
  		position: absolute;
  		bottom: 100%;
 	 	left: 20%;
  		margin-left: -8px;
  		width: 0; height: 0;
  		border-bottom: 15px solid #e8e8e8;
  		border-right: 15px solid transparent;
  		border-left: 15px solid transparent;
	}
}

.tooltipsright {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
	  	width:150px;
	  	font-size: 13px;
	  	color: #FFFFFF;
	  	background: $blue;
	  	height: 35px;
	  	line-height: 35px;
	  	text-align: center;
	  	visibility: hidden;
	  	border-radius: 6px;
	  	&:after {
	  		content: '';
		  	position: absolute;
		  	bottom: 100%;
		  	left: 80%;
		  	margin-left: -8px;
		  	width: 0; height: 0;
		  	border-bottom: 8px solid $blue;
		  	border-right: 8px solid transparent;
		  	border-left: 8px solid transparent;
	  	}
  	}
  	&:hover {
  		span {
  			visibility: visible;
  			opacity: 0.8;
  			top: 50px;
  			left: -125%;
  			margin-left: -76px;
  			z-index: 999;
  		}
  	}
}

.tooltipsleft {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
	  	width:150px;
	  	font-size: 13px;
	  	color: #FFFFFF;
	  	background: $blue;
	  	height: 35px;
	  	line-height: 35px;
	  	text-align: center;
	  	visibility: hidden;
	  	border-radius: 6px;
	  	&:after {
	  		content: '';
		  	position: absolute;
		  	bottom: 100%;
		  	left: 20%;
		  	margin-left: -8px;
		  	width: 0; height: 0;
		  	border-bottom: 8px solid $blue;
		  	border-right: 8px solid transparent;
		  	border-left: 8px solid transparent;
	  	}
  	}
  	&:hover {
  		span {
  			visibility: visible;
  			opacity: 0.8;
  			top: 50px;
  			left: 225%;
  			margin-left: -76px;
  			z-index: 999;
  		}
  	}
}

.isel {
	i {
		color: $blue!important;
	}
}

.backlightgray {
	background-color: #f2f2f2;
}

.oporblanco {
	.sectorpro {	
		margin-top: 0;
		color: #fff!important;
	}
}

.titnot {
	margin-bottom: 0;
}

.fechnot {
	margin-top: 0;
	margin-bottom: 80px;
}

.oportublanco {
	h3, p {
		color: #fff;
	}
}

.investcol {
	padding: 40px 0;
}

.margintop0 {
	margin-top:0;
}

.margin0 {
	margin: 0;
}

.mailto {
	margin-right: 7px;
	position: relative;
	top: 1px;
}

.margintopsmall {
	margin-top: 20px;
}

.text-capitalize {
	text-transform: capitalize!important;
}

#iconmenumobile {
	font-size: 36px;
	display: inline-block;
	padding: 20px 25px;
	cursor: pointer;
	&:hover {
		color:$blue;
	}
}

.font22 {
	font-size: 22px;
}

.mainhomemobile {
	padding: 25px 0;
	background-position: left top;
	background-size: 100%;
}

#menumob {
	display: none;
	position: fixed;
	z-index: 1500;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb; 
}

.dropdwonmob {
	display: none;
}

.itemmob {
	display: block;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	background-color: #eee;
	color: #333;
	&:hover {
		background-color: $blue;
		color: #fff;
	}
}

.mobsel {
	background-color: $blue;
	color: #fff;
}

.mainhomemobile {
	display: none;
}

@media all and (max-width: 1030px) {
    header,
    .mainhome {
		display: none!important;
	}   
	#menumob {
		display: block;
	}	
	.mainhomemobile {
		display: block;
	}
}

@media all and (max-width: 768px) {
	.center-mobile {
		text-align: center;
	}
	#logofooter {
		display: none;
	}
	footer {
		text-align: center;
	}
	.last-s {
		margin-right: 0;
	}
	.margin-bottom-mobile {
		margin-bottom: 25px;
	}
}

.rightup {
	margin-top: 40px;
	color: #808080;
}

.rightupchosen {
	color: $blue;
}

.rightupoption {
	&:hover {
		color:$blue;
	}
}

.oportunidad {
	margin-bottom: 25px;
}

.text-underline {
	text-decoration: underline;
}

.ultimasnoticias {
	padding: 30px 0;
}
