{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	<div class="grid-12-xs last margintop text-center" style="padding-bottom:250px;padding-top:100px;">
		{% if accion == 'enviado' %}
			{% if lang == 'es' %}
				<h1>Gracias por su interés!</h1>
				<p>Nos pondremos en contacto muy pronto.</p>
				<p>Mientras tanto lo invitamos a leer nuestras últimas noticias.</p>
				<a href="/blog" class="btnbluesmall">Leer Noticias</a>
			{% else %}
				<h1>Thanks for your Interest!</h1>
				<p>We'll contact you very shortly.</p>
				<p>In the meantime we invite you to read some of our news!</p>
				<a href="/blog" class="btnbluesmall">Read Some News</a>
			{% endif %}
		{% endif %}
	</div>

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}





