{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	<div class="grid-12-xs imagetop imgtopempresas last" style="background-image:url('/public/img/empresastop.png');background-position:center 10%;">
		<div class="cont90 text-right">
			{% if lang == 'es' %}
				<h1>EMPRESAS</h1>
			{% else %}
				<h1>COMPANIES</h1>
			{% endif %}
		</div>
	</div>

	<!-- SERVICIOS PARA EMPRESAS -->
	<div class="grid-12-xs last marginbottom">
		<div class="cont90">
			<div class="grid-4-m serviciosempresas">
				{% if lang == 'es' %}
					<h2>SERVICIOS PARA EMPRESAS</h2>
				{% else %}
					<h1>SERVICES</h1>
				{% endif %}
				<div class="grid-12-xs last bars">					
					<div class="{% if accion == 'fusiones' or accion == 'mergers' %} barleftsel {% else %} barleft {% endif %}"></div>
					<a href="/empresas/{% if lang == 'es' %}fusiones-y-adquisiciones {% else %}mergers-and-acquisitions {% endif %}" class="text-capitalize {% if accion == 'fusiones' or accion == 'mergers' %} futura-bold {% endif %} nombrebar">
						{% if lang == 'es' %}
							FUSIONES Y ADQUISICIONES
						{% else %}
							MERGERS &AMP; ACQUISITONS
						{% endif %}
					</a>					
				</div>
				<div class="grid-12-xs last bars">					
					<div class="{% if accion == 'estructuracion' or accion == 'project' %} barleftsel {% else %} barleft {% endif %}"></div>
					<a href="/empresas/{% if lang == 'es' %}estructuracion-de-proyectos {% else %}project-structuring {% endif %}" class="text-capitalize {% if accion == 'estructuracion' or accion == 'project' %} futura-bold {% endif %} nombrebar">
						{% if lang == 'es' %}
							ESTRUCTURACIÓN DE PROYECTOS
						{% else %}
							PROJECT STRUCTURING
						{% endif %}
					</a>					
				</div>
				<div class="grid-12-xs last bars">					
					<div class="{% if accion == 'financiacion' or accion == 'funding' %} barleftsel {% else %} barleft {% endif %}"></div>
					<a href="/empresas/{% if lang == 'es' %}financiacion-y-reestructuracion-de-deuda {% else %}funding-and-debt-restructuring {% endif %}" class="text-capitalize {% if accion == 'financiacion' or accion == 'funding' %} futura-bold {% endif %} nombrebar">
						{% if lang == 'es' %}
							FINANCIACION Y REESTRUCTURACION DE DEUDA
						{% else %}
							FUNDING AND DEBT RESTRUCTURING
						{% endif %}
					</a>					
				</div>
				<div class="grid-12-xs last bars">					
					<div class="{% if accion == 'ipo' or accion == 'ipoen' %} barleftsel {% else %} barleft {% endif %}"></div>
					<a href="/empresas/{% if lang == 'es' %}ipo-emision-de-acciones {% else %}ipo {% endif %}" class="text-capitalize {% if accion == 'ipo' or accion == 'ipoen' %} futura-bold {% endif %} nombrebar">
						{% if lang == 'es' %}
							IPO - EMISIÓN DE ACCIONES
						{% else %}
							IPO (INITIAL PUBLIC OFFERING)
						{% endif %}
					</a>	
				</div>
				<div class="grid-12-xs last bars">					
					<div class="{% if accion == 'fondos' or accion == 'private' %} barleftsel {% else %} barleft {% endif %}"></div>
					<a href="/empresas/{% if lang == 'es' %}fondos-de-capital-y-agro{% else %}private-and-agroindustrial-funds{% endif %}" class="text-capitalize {% if accion == 'fondos' or accion == 'private' %} futura-bold {% endif %} nombrebar">
						{% if lang == 'es' %}
							FONDOS DE CAPITAL &AMP; AGRO
						{% else %}
							PRIVATE &AMP; AGROINDUSTRIAL FUNDS
						{% endif %}
					</a>	
				</div>
				<div class="grid-12-xs cuadroinfo last">
					<div class="cont90">
						<p><i class="icon-mail2"></i> info@silkbancainversion.com</p>
						<p><i class="icon-clock2"></i> {% if accion == 'fondos' %} L - V{% else %} M - F{% endif %}: 9:00am - 6:00pm</p>
						<p><i class="icon-phone"></i> +(571) 703-1315</p>
						<p><i class="icon-house"></i> Carrera 7 #77-07 Of 1003</p>
					</div>
				</div>
			</div>

			<div class="grid-8-m last">
				<div class="grid-1-m"></div>
				<div class="grid-11-m last text-justify">
					<img src="{{img|raw}}">
					<h2>{{titulo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<div style="color:#808080!important;">
						{{contenido|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}
					</div>
				</div>
			</div>

		</div>
	</div>

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}