{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	<div class="grid-12-xs imagetop last" style="background-image:url('/public/img/equipotop.jpg');background-position:center center;">
		<div class="cont90 text-right">
			<h1>{% if lang == 'es' %}EQUIPO{% else %}TEAM{% endif %}</h1>
		</div>
	</div>

	<div class="grid-12-xs last margintop">
			<div class="cont90">

			{% if accion == 'Equipo' %}
				<p class="marginbottom text-justify" style="color:#808080!important;">
					{{texto|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}
				</p>				
				<div class="grid-12-xs last">
					<div class="cont90">
					<h2 class="text-center marginbottom">{% if lang == 'es' %}Socios{% else %}Partners{% endif %}</h2>
					{% for i in 0..(socios|length)-1 %}
					    <div class="grid-6-m persona {% if i % 2 == 1 %} last {% endif %}" value="{{ (i / 2)|round(0, 'ceil') }}" url="sofia-varela">
					    	<div class="cont80">
						    	<a href="/equipo/{{socios[i].url}}"><img src="{{socios[i].img}}" alt="{{socios[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}"></a>
						    	<h3>{{socios[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
						    	<p>{{socios[i].cargo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
					    	</div>
					    </div>
					{% endfor %}
				</div>
				<div class="grid-12-xs last">
					<div class="cont90">
					<h2 class="text-center marginbottom">{% if lang == 'es' %}Equipo{% else %}Team{% endif %}</h2>
					{% for i in 0..(equipo|length)-1 %}
					    <div class="grid-4-m persona {% if i % 3 == 2 %} last {% endif %}" value="{{ (i / 3)|round(0, 'ceil') }}" url="sofia-varela">
					    	<div class="cont90">
						    	<a href="/equipo/{{equipo[i].url}}"><img src="{{equipo[i].img}}" alt="{{equipo[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}"></a>
						    	<h3>{{equipo[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
						    	<p>{{equipo[i].cargo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
					    	</div>
					    </div>
					{% endfor %}
				</div>
				<div class="grid-12-xs last">
					<div class="cont90">
					<h2 class="text-center marginbottom">{% if lang == 'es' %}Asociados Internacionales{% else %}International Associates{% endif %}</h2>
					{% for i in 0..(asesores|length)-1  %}
					    <div class="grid-4-m persona {% if i % 3 == 2 %} last {% endif %}" value="{{ (i / 3)|round(0, 'ceil') }}" url="sofia-varela">
					    	<div class="cont90">
						    	<a href="/equipo/{{asesores[i].img}}"><img src="{{asesores[i].img}}" alt="{{asesores[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}"></a>
						    	<h3>{{asesores[i].nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
						    	<p>{{asesores[i].cargo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
					    	</div>
					    </div>
					{% endfor %}
				</div>

			{% else %}

				<div class="grid-12-xs last marginbottom">
					<div class="grid-3-m">
						<img class="marginbottom" src="/public/img/{{person.url}}.jpg" alt="{{person.nombre}}">
					</div>
					<div class="grid-9-m last">
						<h1 class="margin0 center-mobile">{{person.nombre|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h1>
						<h3 class="text-gray margintop0 center-mobile">{{person.cargo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
						<div class="grid-12-xs center-mobile margin-bottom-mobile">
							<a href="mailto:{{person.email}}" class="text-blue center-mobile"><i class="icon-mail4 mailto"></i>{{person.email}}</a>
						</div>
						<br><br>
						{% if lang == 'es' %}
							<p class="text-justify">{{person.biografia|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
						{% else %}
							<p class="text-justify">{{person.lenguaje|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
						{% endif %}
						<div class="grid-12-xs center-mobile">
							<a href="/equipo" class="btnbluesmall margintopsmall">{% if lang == 'es' %}Volver a Equipo{% else %}Return to Team{% endif %}</a>
						</div>
					</div>
				</div>

			{% endif %}

		</div>
	</div>

	<div></div>

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}