{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}

{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}
	
	<div class="grid-12-xs last mainhomemobile text-center" style="background-image:url('/public/img/homemob.png');">
		<img src="/public/img/logowhite.png" id="mainlogomobile" alt="Silk Banca Logo">
		<div class="cont70">
			<p class="text-white font22">
				{{mensaje|convert_encoding('UTF-8', 'ISO-8859-1')}}
			</p>
		</div>
	</div>
	
	<!-- MAIN HOME SLIDER (OWL CAROUSEL) -->
	<div class="grid-12-xs last mainhome">
  		<div class="grid-12-xs homeslide last">
  			<div class="cont50">
  				<h1 class="futura-bold notsobig">
  					{{mensaje|convert_encoding('UTF-8', 'ISO-8859-1')}}
  				</h1>
  				<p>
  					{{mensaje_below|convert_encoding('UTF-8', 'ISO-8859-1')}}
  				</p>
  				<div class="grid-6-xs"> 
  					<a href="/empresas" class="btnblue">
  						{% if lang == 'es' %}
  							Conoce Nuestros Servicios
  						{% else %}
							Our Services
						{% endif %}
  					</a>
  				</div>
  				<div class="grid-6-xs last">
  					<a href="/contacto" class="btnbordergray">
  						{% if lang == 'es' %}
  							Contáctanos
  						{% else %}
							Contact Us
						{% endif %}
  					</a>
  				</div>
  			</div>
  			<img src="/public/img/homenew3.png">
  		</div>
	</div>
	

	<!-- SERVICIOS HOME -->
	<div class="grid-12-xs servicioshome backlightgray last">
		<div class="cont90 center-mobile">
			<h2 class="title">
				{% if lang == 'es' %}
					NUESTROS SERVICIOS
				{% else %}
					OUR SERVICES
				{% endif %}	
			</h2>
			<div class="grid-12-xs last">
				<div class="grid-6-m servicio">
					<div class="grid-2-m text-center">
						<i class="icon-money3"></i>
					</div>
					<div class="grid-10-m last">
						<h2>{{ser1|convert_encoding('UTF-8', 'ISO-8859-1')}}</h2>
						<p>{{ser12|convert_encoding('UTF-8', 'ISO-8859-1')}}</p>
						<a href="{{ser13}}" class="mas">
							{% if lang == 'es' %}
								Leer Más
							{% else %}
								Read More
							{% endif %}	
						</a>
					</div>
				</div>
				<div class="grid-6-m last servicio">
					<div class="grid-2-m text-center">
						<i class="icon-money2"></i>
					</div>
					<div class="grid-10-m last">
						<h2>
							{{ser2|convert_encoding('UTF-8', 'ISO-8859-1')}}	
						</h2>
						<p>
							{{ser22|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</p>
						<a href="{{ser23}}" class="mas">
							{% if lang == 'es' %}
								Leer Más
							{% else %}
								Read More
							{% endif %}	
						</a>
					</div>
				</div>
			</div>
			<div class="grid-12-xs last">
				<div class="grid-6-m servicio">
					<div class="grid-2-m text-center">
						<i class="icon-money1"></i>
					</div>
					<div class="grid-10-m last">
						<h2>
							{{ser3|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</h2>

						<p>
							{{ser32|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</p>
						<a href="{{ser33}}" class="mas">
							{% if lang == 'es' %}
								Leer Más
							{% else %}
								Read More
							{% endif %}	
						</a>
					</div>
				</div>
				<div class="grid-6-m last servicio">
					<div class="grid-2-m text-center">
						<i class="icon-money4"></i>
					</div>
					<div class="grid-10-m last">
						<h2>
							{{ser4|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</h2>
						<p>
							{{ser42|convert_encoding('UTF-8', 'ISO-8859-1')}}	
						</p>
						<a href="{{ser43}}" class="mas">
							{% if lang == 'es' %}
								Leer Más
							{% else %}
								Read More
							{% endif %}	
						</a>
					</div>
				</div>
			</div>
			<div class="grid-12-xs last">
				<div class="grid-6-m servicio">
					<div class="grid-2-m text-center">
						<i class="icon-money1"></i>
					</div>
					<div class="grid-10-m last">
						<h2>
							{{ser5|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</h2>
						<p>
							{{ser52|convert_encoding('UTF-8', 'ISO-8859-1')}}
						</p>
						<a href="{{ser53}}" class="mas">
							{% if lang == 'es' %}
								Leer Más
							{% else %}
								Read More
							{% endif %}	
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- OPRTUNIDADES DE INVERSIÓN -->
	<!-- <div class="grid-12-xs last marginboth">

		<div class="grid-12-xs last oportunidadgrande" style="background-image:url('/public/img/backportfolio1.png')">
			<div class="grid40">
				<div class="cont80">
					<h4>OPORTUNIDAD DE INVERSIÓN</h4>
					<h3 class="nompro">NOMBRE DEL PROYECTO</h3>
					<p class="sectorpro">SECTOR INFRAESTRUCTURA</p>
					<p class="descpro">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/oportunidad-de-inversion/url-oportunidad" class="btnbluesmall">VER PROYECTO</a>
				</div>
			</div>
		</div>

		<div class="grid-12-xs last oportunidadgrande" style="background-image:url('/public/img/backportfolio2.png')">
			<div class="grid60"></div>
			<div class="grid40">
				<div class="cont80">
					<h4>OPORTUNIDAD DE INVERSIÓN</h4>
					<h3 class="nompro">NOMBRE DEL PROYECTO</h3>
					<p class="sectorpro">SECTOR INFRAESTRUCTURA</p>
					<p class="descpro">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/oportunidad-de-inversion/url-oportunidad" class="btnbluesmall">VER PROYECTO</a>
				</div>
			</div>
		</div>

	</div> -->

	<!-- POR QUÉ TRABAJAR CON NOSOTROS -->
	<!-- <div class="grid-12-xs last">
		<div class="cont90">
			<div class="grid-12-xs last">
				<h2 class="title">¿POR QUÉ TRABAJAR CON NOSOTROS?</h2>
			</div>
			<div class="grid-7-m razones">
				<div class="grid-12-xs last">
					<div class="grid-6-m">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Un equipo con experiencia en el manejo de compañías en crecimiento y grupos consolidados.</p>
							</div>
						</div>
					</div>
					<div class="grid-6-m last">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Capacidad de aproximar los negocios locales con perspectiva internacional</p>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-12-xs last">
					<div class="grid-6-m">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">La internacionalización del negocio y un equipo de trabajo internacional</p>
							</div>
						</div>
					</div>
					<div class="grid-6-m last">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Experiencia empresarial de la Junta de Asociados</p>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-12-xs last">
					<div class="grid-6-m">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">La capacidad de crear equipos de trabajo ad hoc</p>
							</div>
						</div>
					</div>
					<div class="grid-6-m last">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Brindar soluciones creativas y diferentes para los clientes</p>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-12-xs last">
					<div class="grid-6-m">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Información financiera y empresarial superior (information / Contact Tank) </p>
							</div>
						</div>
					</div>
					<div class="grid-6-m last">
						<div class="grid-12-xs last razon">
							<div class="grid-2-xs">
								<i class="icon-checklist"></i>
							</div>
							<div class="grid-9-xs last">
								<h4>Razón 1</h4>
								<p class="text-justify">Actuar con foco claro y siempre orientados a resultados</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-5-m last">
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:75%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:35%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:80%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:55%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:21%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:92%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:92%;"></div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- OPORTUNIDADES DE INVERSIÓN -->
		<!-- <div class="grid-12-xs last oportunidades">
			<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad1.png');">
				<div class="cont80">
					<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
					<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
				</div>
			</div>
			<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad2.png');">
				<div class="cont80">
					<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
					<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
				</div>
			</div>
		</div> -->

		<!-- MENSAJE CEO -->
		<div class="grid-12-xs mensajeceo marginboth last">
			<div class="cont90">
				<div class="grid-6-m">
					<div class="cont80">
						{{foto_martha|raw}}
					</div>
				</div>
				<div class="grid-6-m center-mobile last">
					<h2>MARTHA JULIANA SILVA.</h2>
					<h3>
						{% if lang == 'es' %}
							FUNDADORA / PRESIDENTE
						{% else %}
							FOUNDER / PRESIDENT
						{% endif %}							
					</h3>
					<p>
						{{mensaje_martha|convert_encoding('UTF-8', 'ISO-8859-1')}}
					</p>
					<a href="/equipo/martha-juliana-silva" class="btnbluesmall">
						{% if lang == 'es' %}
							VER PERFIL COMPLETO
						{% else %}
							SEE COMPLETE PROFILE
						{% endif %}							
					</a>
				</div>
			</div>
		</div>

		<!-- NOTICIAS -->
		<!-- <div class="grid-12-xs last oportunidades marginbottom">
			<div class="grid50 oportunidad oporblanco" style="background-image:url('/public/img/oportunidad1.png');">
				<div class="cont80">
					<h3 class="nompro">NOTICIA ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
					<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/noticias/url-noticia" class="btnbluesmall">VER NOTICIA</a>
				</div>
			</div>
			<div class="grid50 oportunidad oporblanco" style="background-image:url('/public/img/oportunidad2.png');">
				<div class="cont80">
					<h3 class="nompro">NOTICIA ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
					<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/noticias/url-noticia" class="btnbluesmall">VER NOTICIA</a>
				</div>
			</div>
			<div class="grid-12-xs last oportunidad oporblanco" style="background-image:url('/public/img/oportunidad3.png');">
				<div class="cont90">
					<h3 class="nompro">NOTICIA ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
					<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
					<a href="/noticias/url-noticia" class="btnbluesmall">VER NOTICIA</a>
				</div>
			</div>
		</div> -->

	</div>


{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}





