{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	{% if sector == '' %}

		<div class="grid-12-xs imagetop last" style="background-image:url('/public/img/investorback.png');background-position:  center left;">
			<div class="cont90 text-right">
				{% if lang == 'es' %}
					<h1>INVERSIONISTAS</h1>
				{% else %}
					<h1>INVESTORS</h1>
				{% endif %}
			</div>
		</div>

		<div class="grid-12-xs margintopsmall last">
			<div class="cont95">
				<div class="grid-4-m investordiv text-center" url="/inversionistas/{% if lang == 'es' %}infraestructura{% else %}infraestructura{% endif %}" style="background-image:url('{{img1}}');">
					<h2>{{titulo1|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
				<div class="grid-4-m investordiv text-center" url="/inversionistas/{% if lang == 'es' %}agroindustria{% else %}agroindustria{% endif %}" style="background-image:url('{{img2}}');">
					<h2>{{titulo2|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
				<div class="grid-4-m last investordiv text-center" url="/inversionistas/{% if lang == 'es' %}oil-and-gas{% else %}oil-and-gas{% endif %}" style="background-image:url('{{img3}}');">
					<h2>{{titulo3|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
				<div class="grid-4-m investordiv text-center" url="/inversionistas/{% if lang == 'es' %}manufactura{% else %}manufactura{% endif %}" style="background-image:url('{{img4}}');">
					<h2>{{titulo4|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
				<div class="grid-4-m investordiv text-center" url="/inversionistas/{% if lang == 'es' %}tic-bpo-servicios{% else %}tic-bpo-servicios{% endif %}" style="background-image:url('{{img5}}');">
					<h2>{{titulo5|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
				<div class="grid-4-m last investordiv text-center" url="/inversionistas/{% if lang == 'es' %}turismo-real-estate{% else %}turismo-real-estate{% endif %}" style="background-image:url('{{img6}}');">
					<h2>{{titulo6|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<i class="icon-square-plus"></i>
				</div>
			</div>
		</div>

		<!-- POR QUÉ TRABAJAR CON NOSOTROS -->
		<!-- <div class="grid-12-xs last margintop">
			<div class="cont90">
				<div class="grid-12-xs last">
					<h2 class="title">¿POR QUÉ INVERTIR CON NOSOTROS?</h2>
				</div>
				<div class="grid-6-m">
					<div class="grid-12-xs last">
						<h4 class="">Proceso de Inversión Silk</h4>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-1-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs grid-1-xs-left last">
							<h4>Paso 1</h4>
							<p class="text-justify">Inversionistas con interés en invertir en Colombia</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-1-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs grid-1-xs-left last">
							<h4>Paso 2</h4>
							<p class="text-justify">Identificar necesidades y oportunidades en mercados y sectores</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-1-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs grid-1-xs-left last">
							<h4>Paso 3</h4>
							<p class="text-justify">Estructuración y desarrollo de propuestas a la medida</p>
						</div>
					</div>
				
				</div>
				<div class="grid-6-m last">
					<div class="grid-12-xs last">
						<h4 class="">Enfocado en Inversionistas Extranjeros</h4>
					</div>
					<div class="grid-4-m fotowhy">
						<img src="/public/img/why1.png" alt="Por qué trabajar con Silk">
					</div>
					<div class="grid-4-m fotowhy">
						<img src="/public/img/why2.png" alt="Por qué trabajar con Silk">
					</div>
					<div class="grid-4-m fotowhy last">
						<img src="/public/img/why3.png" alt="Por qué trabajar con Silk">
					</div>
					<div class="grid-4-m fotowhy">
						<img src="/public/img/why4.png" alt="Por qué trabajar con Silk">
					</div>
					<div class="grid-4-m fotowhy">
						<img src="/public/img/why5.png" alt="Por qué trabajar con Silk">
					</div>
					<div class="grid-4-m fotowhy last">
						<img src="/public/img/why6.png" alt="Por qué trabajar con Silk">
					</div>
				</div>
			</div>
		</div> -->

		<div class="grid-12-xs last backdarker investcol margintop" style="color:#808080!important;">
			<div class="cont90">
					<h2 class="title">{{macro_title|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h2>
					<p class="text-justify">{{macro|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
			</div>
		</div>


		<!-- OPRTUNIDADES DE INVERSIÓN -->
		<!-- <div class="grid-12-xs last marginbottom">

			<div class="grid-12-xs last oportunidadgrande" style="background-image:url('/public/img/backportfolio1.png')">
				<div class="grid40">
					<div class="cont80">
						<h4>OPORTUNIDAD DE INVERSIÓN</h4>
						<h3 class="nompro">NOMBRE DEL PROYECTO</h3>
						<p class="sectorpro">SECTOR INFRAESTRUCTURA</p>
						<p class="descpro">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
						<a href="/oportunidad-de-inversion/url-oportunidad" class="btnbluesmall">VER PROYECTO</a>
					</div>
				</div>
			</div>

			<div class="grid-12-xs last oportunidadgrande" style="background-image:url('/public/img/backportfolio2.png')">
				<div class="grid60"></div>
				<div class="grid40">
					<div class="cont80">
						<h4>OPORTUNIDAD DE INVERSIÓN</h4>
						<h3 class="nompro">NOMBRE DEL PROYECTO</h3>
						<p class="sectorpro">SECTOR INFRAESTRUCTURA</p>
						<p class="descpro">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
						<a href="/oportunidad-de-inversion/url-oportunidad" class="btnbluesmall">VER PROYECTO</a>
					</div>
				</div>
			</div>

			<div class="grid-12-xs last oportunidadgrande" style="background-image:url('/public/img/oportunidad4.png')">
				<div class="grid40">
					<div class="cont80">
						<h4>OPORTUNIDAD DE INVERSIÓN</h4>
						<h3 class="nompro">NOMBRE DEL PROYECTO</h3>
						<p class="sectorpro">SECTOR INFRAESTRUCTURA</p>
						<p class="descpro">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
						<a href="/oportunidad-de-inversion/url-oportunidad" class="btnbluesmall">VER PROYECTO</a>
					</div>
				</div>
			</div>

		</div> -->

	{% else %}

		<div class="grid-12-xs imagetop last" style="background-image:url('{{img}}');background-position:bottom center;">
			<div class="cont90 text-right">
				<h1>{{titulo|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h1>
			</div>
		</div>

		<div class="grid-12-xs last marginboth">
			<div class="cont90">
				<p>{{descripcion|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</p>
				<a href="/inversionistas" class="btnbluesmall margintopsmall">{% if lang == 'es' %}Volver a Sectores{% else %}Back to Sectors{% endif %}</a>
			</div>
		</div>

	{% endif %}

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}