{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	{% if accion == '' %}

		<!-- MAIN HOME SLIDER (OWL CAROUSEL) -->
		<!-- <div class="grid-12-xs last mainhome">
		    <div id="owl-example" class="owl-carousel">
		      	{% for i in 1..6 %}
		      		<div class="grid-12-xs homeslide last">
		      			<div class="cont50">
		      				<h1 class="futura-bold">Synth craft beer copper mug hell of. Chillwave irony squid, ethical celiac. </h1>
		      				<p>Post-ironic yuccie gentrify succulents slow-carb copper mug gluten-free, hashtag live-edge mustache. Ugh paleo forage enamel pin viral XOXO, biodiesel bicycle rights aesthetic.</p>
		      				<div class="grid-6-xs">
		      					<a href="" class="btnblue">Conoce Nuestros Servicios</a>
		      				</div>
		      				<div class="grid-6-xs last">
		      					<a href="" class="btnbordergray">Contáctanos</a>
		      				</div>
		      			</div>
		      			<img src="/public/img/home.png">
		      		</div>
		      	{% endfor %}
		    </div>
		</div> -->

		<!-- NOTICIAS -->
		<div class="grid-12-xs last oportunidades marginbottom">
			<h1 class="text-center marginbottom">
				{% if lang == 'es' %}
					NOTICIAS
				{% else %}
					NEWS
				{% endif %}
			</h1>
			<div class="cont95">
				{% for i in 0..(noticias|length)-1 %}
				    <div class="grid-6-m oportunidad oporblanco {% if i % 2 == 1 %} last {% endif %}" style="background-image:url('{{noticias[i].img}}');background-size:100% 100%;">
						<div class="cont80">
							<h3 class="nompro text-uppercase">{{noticias[i].title|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
							<p class="descpro" style="color:#fff!important;">{{noticias[i].sumario|convert_encoding('UTF-8', 'ISO-8859-1')|raw|slice(0, 110) }}...</p>
							<a href="/blog/{{noticias[i].url}}" class="btnbluesmall">
								{% if lang == 'es' %}
									LEER MÁS
								{% else %}
									READ MORE
								{% endif %}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	{% else %}

		<div class="grid-12-xs last text-center marginboth">
			<div class="cont90">
				<h1 class="titnot text-uppercase">{{noticia.title|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h1>
				<p class="fechnot">{{noticia.date|date(' d / m / Y')}}</p>
				<img src="{{noticia.img}}" alt="{{noticia.title}}">
				<div class="cont60 text-left margintop text-justify">
					{{noticia.content|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}
				</div>
			</div>
		</div>

	{% endif %}

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}