{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

	<!-- MAIN HOME SLIDER (OWL CAROUSEL) -->
	<div class="grid-12-xs last mainhome">
	    <div id="owl-example" class="owl-carousel">
	      	{% for i in 1..6 %}
	      		<div class="grid-12-xs homeslide last">
	      			<div class="cont50">
	      				<h1 class="futura-bold">Synth craft beer copper mug hell of. Chillwave irony squid, ethical celiac. </h1>
	      				<p>Post-ironic yuccie gentrify succulents slow-carb copper mug gluten-free, hashtag live-edge mustache. Ugh paleo forage enamel pin viral XOXO, biodiesel bicycle rights aesthetic.</p>
	      				<div class="grid-6-xs">
	      					<a href="" class="btnblue">Conoce Nuestros Servicios</a>
	      				</div>
	      				<div class="grid-6-xs last">
	      					<a href="" class="btnbordergray">Contáctanos</a>
	      				</div>
	      			</div>
	      			<img src="/public/img/home.png">
	      		</div>
	      	{% endfor %}
	    </div>
	</div>


	<!-- HEADER OPORTUNIDAD -->
	<div class="grid-12-xs last headeroportunidad">
		<div class="cont90">
			<h3 class="title">SECTOR INFRAESTRUCTURA</h3>
			<h1 class="bigtitle futura-bold">NOMBRE DEL PROYECTO</h1>
		</div>
	</div>


	<!-- DETALLES DEL PROYECTO -->
	<div class="grid-12-xs detallesproyecto last">
		<div class="cont90">
			<div class="grid-12-xs last">
				<h2 class="title">DETALLES DEL PROYECTO</h2>
			</div>
			<div class="grid-7-m razones">
				<div class="grid-5-m grid-1-m-right">
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
				</div>
				<div class="grid-5-m grid-1-m-left last">
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
					<div class="grid-12-xs last razon">
						<div class="grid-2-xs">
							<i class="icon-checklist"></i>
						</div>
						<div class="grid-10-xs last">
							<h4>Razón 1</h4>
							<p class="text-justify">Logramos maximizar el valor de su empresa para venderla o asociarla venderla o asociarla.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-5-m last">
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:75%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:35%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:80%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:55%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:21%;"></div>
					</div>
				</div>
				<div class="grid-12-xs last progressdiv">
					<p class="futura-bold progresstitle text-uppercase"><i class="icon-checklist"></i> Promedio ROI</p>
					<div class="grid-12-xs progress last">
						<div class="progressbar" style="width:92%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- INDICADORES -->
	<div class="grid-12-xs last indicadores" style="background-image:url('/public/img/backblue.png')">
		<div class="cont90">
			<div class="grid-3-m text-center">
				<h3><span class="futura-bold">8.4x</span> EV / EBITDA</h3>
				<p>Valor Inversión</p>
			</div>
			<div class="grid-3-m text-center">
				<h3><span class="futura-bold">8.4x</span> EV / EBITDA</h3>
				<p>Valor Inversión</p>
			</div>
			<div class="grid-3-m text-center">
				<h3><span class="futura-bold">8.4x</span> EV / EBITDA</h3>
				<p>Valor Inversión</p>
			</div>
			<div class="grid-3-m text-center last">
				<h3><span class="futura-bold">8.4x</span> EV / EBITDA</h3>
				<p>Valor Inversión</p>
			</div>
		</div>
	</div>

{{ include('inc/_footer.twig') }}





