{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

	<div class="grid-12-xs homeslide marginbottom last">
		<div class="cont50">
			<h1 class="futura-bold">Para conocer nuestros proyectos llena la información en la parte inferior de esta página.</h1>
			<div class="grid-6-xs">
				<a href="/empresas" class="btnblue">Conoce Nuestros Servicios</a>
			</div>
			<div class="grid-6-xs last">
				<a href="/contacto" class="btnbordergray">Contáctanos</a>
			</div>
		</div>
		<img src="/public/img/projs.png">
	</div>

	<!-- <div class="grid-12-xs last marginboth">
		<div class="cont90">
			<h3 class="title">Proyectos Actuales de la Banca</h3>
			<p>Logramos maximizar el valor de su empresa para vLogramos maximizar el valor de su empresa para venderla o asociarla.enderla o asociarla.Logramos maximizar el valor de su empresa para venderla.Logramos maximizar el valor de su empresa para vLogramos maximizar el valor de su empresa para venderla o asociarla.enderla o asociarla.Logramos maximizar el valor de su empresa para venderla.Logramos maximizar el valor de su empresa para vLogramos maximizar el valor de su empresa para venderla o asociarla.enderla o asociarla.Logramos maximizar el valor de su empresa para venderla.<br><br>
			Logramos maximizar el valor de su empresa para vLogramos maximizar el valor de su empresa para venderla o asociarla.enderla o asociarla.Logramos maximizar el valor de su empresa para venderla.Logramos maximizar el valor de su empresa para vLogramos maximizar el valor de su empresa para venderla o asociarla.enderla o asociarla.Logramos maximizar el valor de su empresa para venderla.</p>
		</div>
	</div> -->


	<!-- OPORTUNIDADES DE INVERSIÓN -->
	<!-- <div class="grid-12-xs last oportunidades marginbottom">
		<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad1.png');">
			<div class="cont80">
				<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
				<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
				<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
			</div>
		</div>
		<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad2.png');">
			<div class="cont80">
				<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
				<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
				<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
			</div>
		</div>
		<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad1.png');">
			<div class="cont80">
				<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
				<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
				<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
			</div>
		</div>
		<div class="grid50 oportunidad" style="background-image:url('/public/img/oportunidad2.png');">
			<div class="cont80">
				<h3 class="nompro">PROYECTO ACTUAL | <span class="futura-medium-italic">INFRAESTRUCTURA</span></h3>
				<p class="descpro" style="color:#fff!important;">Logramos maximizar el valor de su empresa para venderla o asociarla con inversionistas del exterior que le aportarán.</p>
				<a href="/oportunidad-de-inversion/url-proyecto" class="btnbluesmall">VER PROYECTO</a>
			</div>
		</div>
	</div> -->

{{ include('inc/_footer.twig') }}





