{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{% if lang == 'es' %} {{ include('inc/_head.twig') }} {% else %} {{ include('inc/_head_en.twig') }} {% endif %}

	<div class="grid-12-xs homeslide last">
		<img src="/public/img/social.png">
	</div>

	<div class="grid-12-xs last">
		<div class="cont90">
			<div class="grid-12-xs last">
				<h3 class="titlegreen margintop">{{title|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}</h3>
			</div>
			<div class="grid-12-m last marginbottom">
				<p class="text-justify">
					{{description|convert_encoding('UTF-8', 'ISO-8859-1')|raw}}
				</p>
			</div>
			<div class="grid-4-m marginbottom">
				<h4 class="titlegreen marginbottom">{% if lang == 'es' %}ENERGÍA RENOVABLE{% else %}RENEWABLE ENERGY{% endif %}</h4>
				<img src="/public/img/social1.png">			
			</div>
			<div class="grid-4-m marginbottom">
				<h4 class="titlegreen marginbottom">{% if lang == 'es' %}PRÁCTICAS SOCIALES{% else %}SOCIAL PRACTICES{% endif %}</h4>
				<img src="/public/img/social2.png">				
			</div>
			<div class="grid-4-m marginbottom last">
				<h4 class="titlegreen marginbottom">{% if lang == 'es' %}DESARROLLO SOSTENIBLE{% else %}SUSTAINABLE DEVELOPMENT{% endif %}</h4>
				<img src="/public/img/social3.png">				
			</div>
		</div>
	</div>

{% if lang == 'es' %} {{ include('inc/_footer.twig') }} {% else %} {{ include('inc/_footer_en.twig') }} {% endif %}





	